body {
  background: url(https://docs.microsoft.com/learn/achievements/introduction-to-web-development-social.png);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F0FFF0;
}

.exibirGrafico {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.exibirGrafico #grafico {
  border: 1px solid black;
  border-radius: 2px;
}

.listaCSV {
  display: flex;
  justify-content: center;
  align-items: center;
}